<h1>Listing portfolio_posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @portfolio_posts.each do |portfolio_post| %>
      <tr>
        <td><%= portfolio_post.title %></td>
        <td><%= portfolio_post.content %></td>
        <td><%= link_to 'Show', portfolio_post %></td>
        <td><%= link_to 'Edit', edit_portfolio_post_path(portfolio_post) %></td>
        <td><%= link_to 'Destroy', portfolio_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Portfolio post', new_portfolio_post_path %>
